 body {
    	background-color: #E6E6FA;
    	font-family: verdana;
    }
    h1 {
    	font-size: 150%;
    	color: #CA479A;
    }
    div.listblock {
    	clear: left;
    }
    img.iconimg {
    	float:left;
    	width:135px;
    	height:135px;
    }
    footer {
    	text-align: center;
		bottom: 0;
    	width: 100%;
    	left:0;
    	background-color: black;
    	color: #CA479A;
    	clear: left;
    }
    ol.favteam {
    	font-size: 75%;
    }
    p.shobby {
    	border-style: solid;
    	border-radius: 3px;
    	clear: left;
    }
    video {
    	float: right;
    }
    div.virginimg {
    	margin: 5px;
    	border:2px solid #ccc;
    	float: left;
    	width: 180px;
    }
    div.virginimg:hover {
    	border: 2px solid #777;
    }
    div.virginimg img {
    	width: 100%;
    	height: auto;
    }
    h3 {
        clear: left;
        left:0;
    }